<!-- dialog.component.html -->
<h2 mat-dialog-title>Add User</h2>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter email" [(ngModel)]="data.email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter name" [(ngModel)]="data.name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSave()">Save</button>
</div>
